// Color Variables

$color-transparent: transparent;
$color-white: #fff;
$color-black: #000;

$color-pink: #ff5aa0;
$color-light-pink: #ffe8f3;

$color-purple: #bc6ccd;
$color-yellow: #fbfcb9;
$color-green: #aef0b3;
$color-orange: #ffb877;

$color-gray-pale-lightest: #f7f7f7;
$color-nav-active: #abacad;
$color-dark-grey: #333132;
$color-overlay: #f6f6f6;
$color-pale-grey: #abacad;

$color-pale-greyish: #ccc;
$color-light-grey: #ebebeb;
$color-lightest-grey: #f0f0f0;
$color-lighter-grey: #dedede;

//navigation colors
$color-nav-cyan: #21d3d8;
$color-nav-light-pink: #ffa5c6;
$color-nav-yellow: #ffd647;
$color-nav-yellowish: #ffef9c;
$color-nav-purple: #973688;
$color-nav-orange: #ff7e38;
