---
layout: layouts/base.njk
title: Singup
templateClass: Signup
tags:
  - nav
navtitle: Signup
---

<div>

    <h1>Signup</h1>

    {% include "./includes/components/organisms/register.njk" %}
</div>